<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>这里是作者数据管理系统</h1>
<form action="/bookstore/add_auth" method="POST">
    <div>
        <span>姓名</span>
        <input type="text" name="name">
    </div>
    <div>
        <span>年龄</span>
        <input type="text" name="age">
    </div>
    <div>
        <span>电子邮件</span>
        <input type="text" name="email">
    </div>




    <div>
        <input type="submit" value="点此添加">
    </div>

</form>
</body>
</html>